<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>display_Webpage</h1>
        <table border = "5px">
            <tr>
                <th>Topic_Name</th>
                <th>name</th>
                <th>url</th>
                <th>email</th>
            </tr>
            {% for ta in webpages %}
                <tr>
                    <td>{{ta.topic_name}}</td>
                    <td>{{ta.name}}</td>
                    <td>{{ta.url}}</td>
                    <td>{{ta.email}}</td>
                </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>